apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-hello-app
  labels:
    app: hello-world
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      # Secret 명시적 선언 (이전 단계에서 Service Account 패치했으나, 재확인 차원에서)
      imagePullSecrets:
      - name: harbor-registry-secret
      containers:
      - name: webserver
        image: 172.16.8.200:30003/test/test:v1.0
        ports:
        - containerPort: 8080
