# 파일 경로: /root/test-gitops-repo/manifests/service.yaml

apiVersion: v1
kind: Service
metadata:
  name: gitops-hello-service
spec:
  type: NodePort
  selector:
    app: hello-world
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30007 # ArgoCD 배포 확인을 위한 외부 접속 포트
